{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <title>reCAPTCHA demo: Simple page</title>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
   <h1> Connexion à l'Axoblog</h1>
{#formulaire de connexion en méthode Post pour masquer le mot de de passe #}
   <form action ="{{ path ('security_login') }}" method="post">
         <div class="form-group">

            {#On va récupérer l'état de la variable hasError et mettre en place une condition et un message d'erreur #}
             {% if hasError %}
             <div class="alert alert-danger">Une erreur est survenue, merci de vérifier vos identifiants.</div>
             {% endif %}
            {# Ici le required name ="_username" est un convention, on doit le préciser
             meme si l'on souhaite s'authentifier avec l'adresse mail #}
            <input type="text" placeholder="Adresse email" required value="{{ username }}" name="_username" id="email"
                   class="form-control" >
         </div>

         <div class="form-group">
            <input placeholder="Mot de passe " required name ="_password"
                   type ="password" class="form-control">
         </div>
       <div class="g-recaptcha" data-sitekey="6Le9gbsUAAAAAI6GfyCxhy09UljTbisj-5skusGL"></div>
         <div class="form-group">
             <button type="submit" name="submitpost" class="btn btn-success" style="background:#333645">Connexion</button>
         </div>
   </form>
{% endblock %}