{% extends 'base.html.twig' %}

{% block body  %}
    <h1>Demande de modification de mot de passe </h1>
    {{ form_start(formMailReset) }}
    {{ form_row(formMailReset.email,{'label':"Email :",'attr':{'placeholder':"Votre adresse mail"}}) }}
      <button type="submit" class="btn btn-success" style="background:#333645">Inscription</button>
    {{ form_end(formMailReset) }}
{% endblock %}