{% extends 'base.html.twig' %}

{% block body  %}
<h1>Réinitialisation du mot de passe </h1>
    {{ form_start(formPasswordReset) }}
    {{ form_row(formPasswordReset.newPassword,{'label':"Mot de passe :",'attr':{'placeholder':"Votre mot de passe"}} ) }}
    {{ form_row(formPasswordReset.confirmPassword,{'label':"Confirmation:",'attr':{'placeholder':"Confirmer votre de mot passe"}} ) }}
    <button type="submit" class="btn btn-success" style="background:#333645">Inscription</button>
    {{ form_end(formPasswordReset) }}
{% endblock %}