{% extends 'admin/blog/base.html.twig' %}

{% block title %}Administration des articles  {% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des articles </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.image }}</td>
                <td>
                    <a href="#" class="badge badge-primary">Edit</a>
                    <a href="#" class="badge badge-danger">Suppr</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
