
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Modification du mot de passe du site AxoBlog</title>
</head>
<body>
<p>
    Bonjour {{ username }}, <br>
    nous vous confirmons votre modification de mot de passe, veuillez cliquer sur le lien pour vous connecter.
    {# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
    <a href="{{absolute_url(path('security_login'))}}">Connexion</a>
</p>
</body>
</html>