
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Réinitialisation du mot de passe </title>
</head>
<body>
<p>
    Bonjour {{ email }}, <br>
    pour modifier votre mot de passe , veuillez cliquer sur le lien.
    {# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
    <br>
    <a href="{{absolute_url(path('security_password_reset', 'token':user.token))}}">Réinitialistion du mot de passe</a>
</p>
</body>
</html>